<div id="ajustes">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h3 style="text-align: center;">Ajustes para la base de datos<br>
			<small>Pasa por encima de las opciones para ver la utilidad</small>
			</h3>
			<hr>
			<!-- Búsqueda automática al levantar la tecla-->
			<div class="checkbox" style="width: 50%; margin: auto;">
				<label title="Búsqueda automática al levantar la tecla">
				<input type="checkbox" id="ajustes-búsqueda_automática">
					Búsqueda automática
				</label>
			</div>
		</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
