<div id="añadir">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="form-group">
				<label for="añadir-descripción">Descripción del archivo</label>
				<textarea class="form-control" id="añadir-descripción"></textarea>
			</div>
            <label for="añadir-adjunto">Archivo adjunto</label>
			<div class="form-group">
				<input type="file" id="añadir-adjunto" multiple>
			</div>
			<br>
			<button type="button" id="añadir-confirmar" class="btn btn-md btn-primary material-up"><i class="material-icons">check</i> Añadir a la base de datos</button>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
