<div class="información-modificar">
	<h3>Modificando información: 
        <textarea id="información-modificar_desc" class="form-control">{{desc}}</textarea>
        <wbr>
        <small>Archivo Nº {{id}}</small>
    </h3>
	<dl>
		{{#each adjuntos}}
			<dt class="adjuntos" data-información-nombre="{{nombre}}">
                <a href="#" data-información-adjunto="{{nombre}}">{{nombre}}</a>
            </dt>
            <a href="#" información-eliminar_adjunto data-información-adjunto-eliminar data-información-adjunto='{{nombre}}' class="material-icons">delete_forever</a>
            <br>
		{{/each}}
		<dt>Añadir nuevos archivos</dt>
		<dd><input type="file" id="información-añadir_archivos" multiple></dd>
	</dl>
    <button type="button" class="btn btn-sm btn-info" data-información-id='{{id}}' id="información-modificar"><i class="material-icons">check</i></button>
</div>
