<div class="información">
	<h3>Información solicitada: {{desc}}<br><small>Archivo Nº {{id}}</small></h3>
	<div style="direction: rtl;">
		<h4><small>
			<button class="btn btn-sm btn-danger" id="información-eliminar"><i class="material-icons">delete_forever</i></button>
			<button class="btn btn-sm btn-info" id="información-editar"><i class="material-icons">edit</i></button>
			 :Acciones
		</small></h4>
	</div>
	<dl>
		{{#each adjuntos}}
		<dt><a href="#" target="blank" data-información-adjunto="{{nombre}}">{{nombre}}</a></dt>
		{{/each}}
	</dl>
</div>
