<div class="sincro">
	<div>
		<h3>Tu ID: <small><mark class="sincro-id"></mark></small></h3>
	</div>
	<div id="sincro-opciones">
		<button type="button" class="btn btn-md btn-default" id="sincro-buscar"><i class="material-icons">search</i></button>
	</div>
	<br><br>
	<div id="sincro-dispositivos">
		<h4>Pulsa el botón de buscar para que aparezcan dispositivos</h4>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div id="sincro-estado">
				<div class="row">
					<div class="col-sm-8">
						<h4 class="centro"><span id="sincro-estado-desc"></span></h4>
					</div>
					<div class="col-sm-4">
						<span id="sincro-estado-animación"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
